# 忽略 node_modules、dist、assets、storybook-static 等构建产物和依赖
node_modules/
dist/
assets/
storybook-static/
storybook-static-react/
coverage/

# Cache
.cache/
.temp/

# Logs
*.log
npm-debug.log*

# Configuration files (already handled in override)
# *.config.js

# Others
.DS_Store
.env* 