# Build
dist/
storybook-static/

# Dependencies
node_modules/

# Cache
.cache/
.temp/

# Logs
*.log
npm-debug.log*

# Configuration files (already handled in override)
# *.config.js

# Others
.DS_Store
.env* 